<form action="/users/login" method="post">
<input type="text" name="email" placeholder="admin@bob.com"/><br/>
<input type="password" name="password" /><br/>
<input type="submit" value="Log In" />
</form>
